.vscode/**
src/**
out/test/**
.github/**
tsconfig.json
.gitignore
.eslintrc*
plan.md
plan-incremento.md
azure-pipelines.yml
**/*.map
**/*.ts
.vscode-test/**
ejemplo.chat
media/icon-src.svg
**/*.chat
**/*.attach
**/*.sysprompt
